<div class="library-empty">
    <h3 class="library-empty__title">QUEUE is empty...</h3>
    <p class="library-empty__text">There's nothing in the QUEUE yet.</p>
    <p class="library-empty__text">Select a movie and add it to your library for quick access to your favorite movies!</p>
</div>