<footer class="page-footer">
  <div class="container">
    <div class="footer">
      <p class="footer__text footer__text--mb">
        © 2022 | All Rights Reserved |&nbsp; 
        <p class="footer__text">Developed with
        <svg class="footer__icon" width="14" height="14" aria-label="logo">
          <use href="images/icons.svg#love"></use>
        </svg>
        by&nbsp;<a class="footer__link" data-modal-open>GoIT Students</a></p>
      </p>
    </div>
  </div>
</footer>

<!-- modal window -->
<div class="footer__backdrop is-hidden" data-modal>
  <div class="footer__modal">
    <button class="footer__modal--close" data-modal-close>
      <svg class="footer__modal--close__icon" width="22" height="22">
        <use href="./images/icons.svg#close"></use>
      </svg>
    </button>

    <h2 class="team__title">Meet Our Team</h2>
    <div class="team">
      <div class="team__item">
        <img
            src="./images/team/team-1.jpg"
            class="team__image img"
            alt="team-1"
          />
        <h3 class="team__name">Valentyn Kovalchuk</h3>
        <p class="team__position">Team Lead</p>
        <ul class="social-team list">
          <li class="social-team__item">
            <a
              href="https://www.linkedin.com/in/kovalhood/"
              target="_blank"
              rel="noopener noreferrer"
              class="social-team__link"
              aria-label="LinkedIn link"
            >
              <svg class="social-team__icon" width="15" height="15">
                <use href="./images/icons.svg#linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="social-team__item">
            <a
              href="https://github.com/kovalhood"
              target="_blank"
              rel="noopener noreferrer"
              class="social-team__link"
              aria-label="GitHub link"
            >
              <svg class="social-team__icon" width="20" height="20">
                <use href="./images/icons.svg#github"></use>
              </svg>
            </a>
          </li>
          <li class="social-team__item">
            <a
              href="mailto:kovalhood@gmail.com"
              target="_blank"
              rel="noopener noreferrer"
              class="social-team__link"
              aria-label="Mail link"
            >
              <svg class="social-team__icon" width="15" height="15">
                <use href="./images/icons.svg#email"></use>
              </svg>
            </a>
          </li>
          <li class="social-team__item">
            <a
              href="https://t.me/Valentin_K"
              target="_blank"
              rel="noopener noreferrer"
              class="social-team__link"
              aria-label="Telegram link"
            >
              <svg class="social-team__icon" width="15" height="15">
                <use href="./images/icons.svg#telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="team__item">
        <img
            src="./images/team/team-2.jpg"
            class="team__image img"
            alt="team-2"
          />
        <h3 class="team__name">Nataliia Yurchuk</h3>
        <p class="team__position">Scrum Master</p>
        <ul class="social-team list">
          <li class="social-team__item">
            <a
              href="https://www.linkedin.com/in/nataliia-yurchuk"
              target="_blank"
              rel="noopener noreferrer"
              class="social-team__link"
              aria-label="LinkedIn link"
            >
              <svg class="social-team__icon" width="15" height="15">
                <use href="./images/icons.svg#linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="social-team__item">
            <a
              href="https://github.com/Numenna"
              target="_blank"
              rel="noopener noreferrer"
              class="social-team__link"
              aria-label="GitHub link"
            >
              <svg class="social-team__icon" width="20" height="20">
                <use href="./images/icons.svg#github"></use>
              </svg>
            </a>
          </li>
          <li class="social-team__item">
            <a
              href="mailto:yurchuk.natalia58@gmail.com"
              target="_blank"
              rel="noopener noreferrer"
              class="social-team__link"
              aria-label="Mail link"
            >
              <svg class="social-team__icon" width="15" height="15">
                <use href="./images/icons.svg#email"></use>
              </svg>
            </a>
          </li>
          <li class="social-team__item">
            <a
              href="https://t.me/NataliiaYurchuk"
              target="_blank"
              rel="noopener noreferrer"
              class="social-team__link"
              aria-label="Telegram link"
            >
              <svg class="social-team__icon" width="15" height="15">
                <use href="./images/icons.svg#telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="team__item">
        <img
            src="./images/team/team-3.jpg"
            class="team__image img"
            alt="team-3"
          />
        <h3 class="team__name">Nataliia Kotelnytska</h3>
        <p class="team__position">Developer</p>
        <ul class="social-team list">
          <li class="social-team__item">
            <a
              href="https://linkedin.com/in/nataliia-kotelnytska"
              target="_blank"
              rel="noopener noreferrer"
              class="social-team__link"
              aria-label="LinkedIn link"
            >
              <svg class="social-team__icon" width="15" height="15">
                <use href="./images/icons.svg#linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="social-team__item">
            <a
              href="https://github.com/Natali-Kotelnitska"
              target="_blank"
              rel="noopener noreferrer"
              class="social-team__link"
              aria-label="GitHub link"
            >
              <svg class="social-team__icon" width="20" height="20">
                <use href="./images/icons.svg#github"></use>
              </svg>
            </a>
          </li>
          <li class="social-team__item">
            <a
              href="mailto:nkotelnicka@gmail.com"
              target="_blank"
              rel="noopener noreferrer"
              class="social-team__link"
              aria-label="Mail link"
            >
              <svg class="social-team__icon" width="15" height="15">
                <use href="./images/icons.svg#email"></use>
              </svg>
            </a>
          </li>
          <li class="social-team__item">
            <a
              href="https://t.me/Kotelnitska_N"
              target="_blank"
              rel="noopener noreferrer"
              class="social-team__link"
              aria-label="Telegram link"
            >
              <svg class="social-team__icon" width="15" height="15">
                <use href="./images/icons.svg#telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="team__item">
        <img
            src="./images/team/team-4.jpg"
            class="team__image img"
            alt="team-4"
          />
        <h3 class="team__name">Khrystyna Hirna</h3>
        <p class="team__position">Developer</p>
        <ul class="social-team list">
          <li class="social-team__item">
            <a
              href="https://www.linkedin.com/in/khrystyna-hirna-084479234"
              target="_blank"
              rel="noopener noreferrer"
              class="social-team__link"
              aria-label="LinkedIn link"
            >
              <svg class="social-team__icon" width="15" height="15">
                <use href="./images/icons.svg#linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="social-team__item">
            <a
              href="https://github.com/KhrystynaHirna"
              target="_blank"
              rel="noopener noreferrer"
              class="social-team__link"
              aria-label="GitHub link"
            >
              <svg class="social-team__icon" width="20" height="20">
                <use href="./images/icons.svg#github"></use>
              </svg>
            </a>
          </li>
          <li class="social-team__item">
            <a
              href="mailto:girna.khris@gmail.com"
              target="_blank"
              rel="noopener noreferrer"
              class="social-team__link"
              aria-label="Mail link"
            >
              <svg class="social-team__icon" width="15" height="15">
                <use href="./images/icons.svg#email"></use>
              </svg>
            </a>
          </li>
          <li class="social-team__item">
            <a
              href="https://t.me/khrystyna_girna"
              target="_blank"
              rel="noopener noreferrer"
              class="social-team__link"
              aria-label="Telegram link"
            >
              <svg class="social-team__icon" width="15" height="15">
                <use href="./images/icons.svg#telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="team__item">
        <img
            src="./images/team/team-5.jpg"
            class="team__image img"
            alt="team-5"
          />
        <h3 class="team__name">Vasiliy Masterov</h3>
        <p class="team__position">Developer</p>
        <ul class="social-team list">
          <li class="social-team__item">
            <a
              href="https://www.linkedin.com/in/vasiliy-masterov"
              target="_blank"
              rel="noopener noreferrer"
              class="social-team__link"
              aria-label="LinkedIn link"
            >
              <svg class="social-team__icon" width="15" height="15">
                <use href="./images/icons.svg#linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="social-team__item">
            <a
              href="https://github.com/Vasiliy-Masterov"
              target="_blank"
              rel="noopener noreferrer"
              class="social-team__link"
              aria-label="GitHub link"
            >
              <svg class="social-team__icon" width="20" height="20">
                <use href="./images/icons.svg#github"></use>
              </svg>
            </a>
          </li>
          <li class="social-team__item">
            <a
              href="mailto:vasiliy.masterov@gmail.com"
              target="_blank"
              rel="noopener noreferrer"
              class="social-team__link"
              aria-label="Mail link"
            >
              <svg class="social-team__icon" width="15" height="15">
                <use href="./images/icons.svg#email"></use>
              </svg>
            </a>
          </li>
          <li class="social-team__item">
            <a
              href="https://t.me/Masterov_VN"
              target="_blank"
              rel="noopener noreferrer"
              class="social-team__link"
              aria-label="Telegram link"
            >
              <svg class="social-team__icon" width="15" height="15">
                <use href="./images/icons.svg#telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="team__item">
        <img
            src="./images/team/team-6.jpg"
            class="team__image img"
            alt="team-6"
          />
        <h3 class="team__name">Iryna Fedorova</h3>
        <p class="team__position">Developer</p>
        <ul class="social-team list">
          <li class="social-team__item">
            <a
              href="https://www.linkedin.com/in/iryna-bulhakova-249b70223/"
              target="_blank"
              rel="noopener noreferrer"
              class="social-team__link"
              aria-label="LinkedIn link"
            >
              <svg class="social-team__icon" width="15" height="15">
                <use href="./images/icons.svg#linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="social-team__item">
            <a
              href="https://github.com/IrynnnaFedorova"
              target="_blank"
              rel="noopener noreferrer"
              class="social-team__link"
              aria-label="GitHub link"
            >
              <svg class="social-team__icon" width="20" height="20">
                <use href="./images/icons.svg#github"></use>
              </svg>
            </a>
          </li>
          <li class="social-team__item">
            <a
              href="mailto:bulhakovairynnna@gmail.com"
              target="_blank"
              rel="noopener noreferrer"
              class="social-team__link"
              aria-label="Mail link"
            >
              <svg class="social-team__icon" width="15" height="15">
                <use href="./images/icons.svg#email"></use>
              </svg>
            </a>
          </li>
          <li class="social-team__item">
            <a
              href="https://t.me/IrynaFedorova"
              target="_blank"
              rel="noopener noreferrer"
              class="social-team__link"
              aria-label="Telegram link"
            >
              <svg class="social-team__icon" width="15" height="15">
                <use href="./images/icons.svg#telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="team__item">
        <img
            src="./images/team/team-7.jpg"
            class="team__image img"
            alt="team-7"
          />
        <h3 class="team__name">Anna Gubar</h3>
        <p class="team__position">Developer</p>
        <ul class="social-team list">
          <li class="social-team__item">
            <a
              href="https://www.linkedin.com/in/anna-gubar/"
              target="_blank"
              rel="noopener noreferrer"
              class="social-team__link"
              aria-label="LinkedIn link"
            >
              <svg class="social-team__icon" width="15" height="15">
                <use href="./images/icons.svg#linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="social-team__item">
            <a
              href="https://github.com/AnnaGubar"
              target="_blank"
              rel="noopener noreferrer"
              class="social-team__link"
              aria-label="GitHub link"
            >
              <svg class="social-team__icon" width="20" height="20">
                <use href="./images/icons.svg#github"></use>
              </svg>
            </a>
          </li>
          <li class="social-team__item">
            <a
              href="mailto:annagubar.work@gmail.com"
              target="_blank"
              rel="noopener noreferrer"
              class="social-team__link"
              aria-label="Mail link"
            >
              <svg class="social-team__icon" width="15" height="15">
                <use href="./images/icons.svg#email"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

